body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #373737;
}
* {
    box-sizing: border-box;
}
h1 {
    font-size: 2.5em;
    text-transform: uppercase;
}
h2 {
    font-size: 2em;
}
.highlight {
    text-decoration: underline; 
    font-size: 20px;
    background-color: azure;
    padding: 5px;
}
.toplinks{
    background-color: #373737;
    overflow: hidden;
}
.toplinks a{
    float: left;
    color: #f2f2f2;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.toplinks a:hover {
    background-color: #f2f2f2;
    color: #373737;
    text-decoration: none;
}
.toplinks-right {
    float: right;
}
.banner {
    background-color: #d6d6d6;
    padding: 20px;
    text-align: center;
    color: #373737;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.content {
    float: left;
    width: 70%;
    padding: 20px;
}
.sidebar {
    float: left;
    width: 30%;
    padding: 20px;
    background-color: #f2f2f2;
}
@media screen and (max-width: 950px) {
    .content, .sidebar {
        width: 100%;
        float: none;
        border-bottom: #373737 1px solid;
    }
}

.sidebar a {
    color: #373737;
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: underline;
}
.footer {
    background-color: #373737;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    font-size: small;
}

table{
	 width: 80%;
	 border-collapse: collapse;
	 border: 1px solid #373737;
	 margin: 0 auto;
}
table th{
        border: 1px solid #373737;
        padding: 8px;
        background-color: #d6d6d6;
        text-align: left;
}
table td{
        border: 1px solid #373737;
        padding: 8px;
        text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #99f19d;
}

.team_img {
    overflow: hidden;
    text-align: center;
}
.team_img img {
    width: 180px;
    height: auto;
    padding: 5px;
    transition: transform 0.3s ease;
}
.team_member{
    display: inline-block;
    text-transform: uppercase;
    font-style: italic;
    color: #83dcff;
    font-size: small;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="number"],
.contact-form input[type="email"],
.contact-form input[type="password"],
.contact-form textarea,.contact-form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.6em;
    font-family: Arial, sans-serif;
}

.contact-form input[type="submit"] {
    background-color: #4929fd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #1f07fd;
}

        .registration-form{
            width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .field{
            margin-bottom: 15px;
        }
        input, button{
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            box-sizing: border-box;
            font-size: 1.6em;
            font-family: Arial, sans-serif;
        }
        .error{
            color: #f70202;
            margin: 0;
        }
        .success{
            color: #0f9b0f;
            margin: 0;
        }